.card {
  margin: 20px 0px;
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img{
border-radius: 0px;
border: none;
}

.container {
max-width:720px;
margin-left:auto;
margin-right:auto;
}

.card-body {
  padding:0px;
}

.card-title {
  margin-bottom:0px;
}


.head-title{
  padding: 10px;
}

.btn{
  border: none;
}

.d-flex {
  padding-top: 10px;
}
.card-text {
  padding: 0px 10px 10px 10px;
  text-align: justify;
}

.dateset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}